[
  {
    "id": "4683440797987092354",
    "port": "",
    "outboundTag": "direct",
    "ip": [
      "223.5.5.5/32",
      "119.29.29.29/32",
      "180.76.76.76/32",
      "114.114.114.114/32",
      "geoip:private",
      "geoip:cn"
    ],
    "domain": [
      "geosite:cn",
      "netbird",
      "hnvwoos01",
      "sharepoint"
    ],
    "enabled": true
  },
  {
    "id": "5153462351369382039",
    "port": "",
    "outboundTag": "proxy",
    "ip": [],
    "domain": [
      "steamcommunity",
      "battle",
      "porn",
      "sex",
      "replit",
      "coze",
      "discord",
      "radio.garden",
      "fandom"
    ],
    "enabled": true
  }
]
