[
  {
    "id": "",
    "port": "",
    "outboundTag": "direct",
    "ip": [],
    "domain": [
      "hnvwoos01",
      "sharepoint"
    ],
    "enabled": true
  },
  { 
    "id": "",
    "port": "",
    "outboundTag": "proxy",
    "ip": [],
    "domain": [
      "steamcommunity",
      "battle",
      "porn",
      "sex",
      "replit",
      "coze",
      "discord",
      "radio.garden",
      "fandom"
    ],
    "enabled": true
  }
]
